# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
credit_risk_env/

# Jupyter
.ipynb_checkpoints/

# Data files (too large for GitHub)
data/raw/*.csv
data/raw/*.zip
data/raw/*.gz
data/processed/*.csv

# Models
models/*.pkl
models/*.joblib

# OS
.DS_Store
Thumbs.db